# This override file should be used when running automated tests so
# that test output is saved to the host

services:
  ffc-doc-statement-constructor:
    build:
      target: development
    image: ffc-doc-statement-constructor-development
    container_name: ffc-doc-statement-constructor-test
    command: npm run test
    volumes:
      - ./app:/home/node/app
      - ./test:/home/node/test
      - ./test-output:/home/node/test-output
      - ./jest.config.js:/home/node/jest.config.js
      - ./package.json:/home/node/package.json
    environment:
      MAX_PROCESSING_REQUEST_AGE_HOURS: 6
      POLL_WINDOW_START: "08:00"
      POLL_WINDOW_END: "18:00"
      POLL_WINDOW_DAYS: "Mon,Tue,Wed,Thu,Fri"

  ffc-doc-statement-constructor-postgres:
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
