{{- include "ffc-helm-library.container-config-map" (list . "ffc-doc-statement-constructor.config-map") -}}
{{- define "ffc-doc-statement-constructor.config-map" -}}
data:
  NODE_ENV: {{ quote .Values.environment }}
  APPINSIGHTS_CLOUDROLE: {{ quote .Values.name }}
  MESSAGE_QUEUE_HOST: {{ quote .Values.container.messageQueueHost }}
  {{- if and (.Values.environmentCode) (not .Values.pr) }}
  ALERT_TOPIC_ADDRESS: {{ .Values.container.alertTopicAddress }}-{{ .Values.environmentCode }}
  DATA_TOPIC_ADDRESS: {{ .Values.container.dataTopicAddress }}-{{ .Values.environmentCode }}
  STATEMENT_TOPIC_ADDRESS: {{ .Values.container.statementTopicAddress }}-{{ .Values.environmentCode }}
  {{ else }}
  ALERT_TOPIC_ADDRESS: {{ .Values.container.alertTopicAddress }}
  DATA_TOPIC_ADDRESS: {{ .Values.container.dataTopicAddress }}
  STATEMENT_TOPIC_ADDRESS: {{ .Values.container.statementTopicAddress }}
  {{- end }}
  DATA_SUBSCRIPTION_ADDRESS: {{ quote .Values.container.dataSubscriptionAddress }}
  POSTGRES_DB: {{ quote .Values.postgresService.postgresDb }}
  POSTGRES_HOST: {{ quote .Values.postgresService.postgresqlHost }}
  POSTGRES_PORT: {{ quote .Values.postgresService.postgresPort }}
  POSTGRES_SCHEMA_NAME: {{ quote .Values.postgresService.postgresSchema }}
  STATEMENT_PROCESSING_INTERVAL: {{ quote .Values.container.statementProcessingInterval }}
  SFI23_QUARTERLY_STATEMENT_PROCESSING_ACTIVE: {{ quote .Values.container.sfi23QuarterlyStatementProcessingActive }}
  DELINKED_STATEMENT_PROCESSING_ACTIVE: {{ quote .Values.container.delinkedStatementProcessingActive }}
  IDLE_CHECK_BATCH_SIZE: {{ quote .Values.container.idleCheckBatchSize }}
  IDLE_CHECK_MAX_DELIVERY_COUNT: {{ quote .Values.container.idleCheckMaxDeliveryCount }}
  IDLE_CHECK_INTERVAL: {{ quote .Values.container.idleCheckInterval }}
  POLL_WINDOW_START: {{ quote .Values.container.pollWindowStart }}
  POLL_WINDOW_END: {{ quote .Values.container.pollWindowEnd }}
  POLL_WINDOW_DAYS: {{ quote .Values.container.pollWindowDays }}
{{- end -}}
