environment: development
environmentCode:
name: ffc-doc-statement-constructor
namespace: ffc-doc
workstream: ffc-doc
image: ffc-doc-statement-constructor

labels:
  component: service

appInsights:
  connectionString:

containerConfigMap:
  name: ffc-doc-statement-constructor-config-map

containerSecret:
  name: ffc-doc-statement-constructor-container-secret
  type: Opaque

deployment:
  minReplicas: 2
  maxReplicas: 4
  cpuThreshold: 60
  memoryThreshold: 60
  minReadySeconds: 0

container:
  requestMemory: 180Mi
  requestCpu: 100m
  limitMemory: 500Mi
  limitCpu: 500m
  messageQueueHost: namespace.servicebus.windows.net
  dataTopicAddress: ffc-doc-statement-data
  dataSubscriptionAddress: ffc-doc-statement-constructor
  statementTopicAddress: ffc-doc-statements
  alertTopicAddress: ffc-doc-alerting
  statementProcessingInterval: 60000
  sfi23QuarterlyStatementProcessingActive: true
  delinkedStatementProcessingActive: true
  idleCheckBatchSize: 250
  idleCheckMaxDeliveryCount: 1
  idleCheckInterval: 60000

postgresService:
  postgresDb: ffc_doc_statement_constructor
  postgresqlHost: ffc-doc-statement-constructor-postgres
  postgresPort: 5432
  postgresSchema: public
  postgresUser: postgres

workloadIdentity: true

azureIdentity:
  clientID: not-a-real-clientID
  resourceID: not-a-real-resourceID

secretProviderClass:
  azure:
    keyvaultName: SNDFFCINFKV2001
    objects: # reading the secret from Azure Key Vault
      - objectName: appInsights-connectionString # secret name in Azure Key Vault
        objectType: secret
      - objectName: postgresUser
        objectType: secret

  secretObjects: # creating a Kubernetes secret from the Azure Key Vault secrets
    - secretName: ffc-doc-statement-receiver
      type: Opaque
      data:
        - objectName: appInsights-connectionString # secret name in Azure Key Vault
          key: APPLICATIONINSIGHTS_CONNECTION_STRING # the secret key in the Kubernetes secret and use in the application
        - objectName: postgresUser
          key: POSTGRES_USERNAME